body {
				margin: 0;
				padding: 0;
				background-size: cover;
				font-family: sans-serif;
				/*color: #2B307C;*/
			}

header {
	width: 100%;
    background: #333333;
}

#btn-menu{
	display: none;
}

header label{
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: lpx solid #fff;
}

header label:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}

.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
}

.menu li{
	text-align: center;
	flex-grow: 1;
}

.menu li:hover {
    background:  rgb(135, 110, 19);	
}

.menu li a{
	display:  block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}
img.alineadoicono{
  vertical-align: middle;
}

@media (max-width: 768px){
  header label{
  	display: block;
  } 
  .menu {
  	position: absolute;
  	background:  #333333;
    width: 70%;
    margin-left: -70%;
    transition: all 0.5s;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li{
  	border-top: 1px solid #fff;
  }
  #btn-menu:checked ~.menu {
  	margin: 0;
  }
  .register{
      position: relative;
      
                background: transparent;
  }
}

			.enviarBtn{
				background: #2B307C;
				color: #FFF;
				font-size: 20px;
				border-radius: 9px;
				padding: 5px 30px;	
				margin-bottom: -30px; 
				position: relative;
	 			top:80%; 
			}

			



			



			/*footer {
				position: absolute; 
				background: transparent;/*cambio*/
				/*width: 83.5vw;
				bottom: -210px;
				left: 0;
				right: 0;
				height: auto;
				padding-top: 10px;
			}*/

			svg{
				width: 22; 
				height: 20;
			}

			.register label {
				
				/*display: flex;*/
				margin: 0;
				margin-top: 50px;
				padding: 0;
				color: #2B307C;	
			}

			.register input {
				
				border-radius:9px;
				
			}
 
			#M1 {
  				cursor: pointer
			} 

			
			.bannerRes {
				width: 100%;
					
			}
   
			.register {
				width: 85%;
				height: auto;
				background: rgba(0, 0, 0, 0);
				top: 90%;
				left: 50%;
				position: absolute;
				transform: translate(-50%, -45%);
				box-sizing: border-box;
				padding: 40px 20%;
				margin-top: 410px;
				border-radius: 3em;
				border: 0.3em solid #2B307C;

			}

			.Tema {
				margin: -10px;
				padding: 0 0 50px;
				text-align: center;
				font-size: 50px;
				font-style: normal;
				color: #2B307C;
			}




/*
			.inputP {
				border: 0.15em solid #2B307C;
				width: 500px; text-align: center;
                               
			}

			.inputPCategorias {
				border: 0.15em solid #2B307C;
				width: 500px; text-align: center;
                               
			}
                        
                        

			.inputPTitulo {
				border: 0.15em solid #2B307C;
				width: 500px;
                                height: 50px;
                                text-align: center;
			}

			.inputPPC {
				border: 0.15em solid #2B307C;
				width: 500px;
                                height: 50px;
                                text-align: center;
			}
			.inputPReferencia {
				border: 0.15em solid #2B307C;
				width: 500px;
                                height: 50px;
                                text-align: center;
			}*/
                        
                          
                          .content-select select{
                        	appearance: none;
                           	-webkit-appearance: none;
	                       -moz-appearance: none;
                               
                              }
 
                              .content-select select::-ms-expand {
                                 display: none;
                                }
                                .content-select{
	max-width: 250px;
	position: relative;
}
 
.content-select{
	display: inline-block;

	cursor: pointer;
  	padding: 7px 10px;
  	height: 32px;
  	outline: 0; 
  	border: 0.15em solid #2B307C;
				width: 250px;
	 font-size: 13.5px;
				font-style: normal;
    border-radius: 1em;
    position: relative;
    transition: all 0.25s ease;
}
 
.content-select select:hover{
	background: #B1E8CD;
}
 
/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i{
	position: absolute;
	right: 30px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #2AC176;
	border-bottom:4px solid #2AC176;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.content-select:hover i{
	margin-top: 3px;
} 
                              
			.temaCentral {
				margin: 0;
				padding: 0;
				color: #2B307C;
				background: white;
				border: 0.25em solid #FFF;
				position: absolute;
				transform: translate(-1%, -50%);
				font-size: 20px;				
			}

			.datosP {
				border-top: 0.25em solid #2B307C;	
			}

			.C1 {
				text-align: right;
				width: 180px;
				
			}

			.D1 {
				margin-bottom: 6%;
				margin-top: 3%;
			}
                        
                       
			.sem {
				background: #2B307C;
				color: #FFF;
				font-size: 12px;
				border-radius: 9px;
				padding: 5px;
			}

			.final {
				
			}

			.inputM {
				left: 100%;
			}

 /*CREDITOS*/
    .creditos_padre{
      
              width: 100%;
              height: 25%;
              background-color:#333333;
              position: absolute;
              top: 150%;
              left: 0%;
             margin: 0;
         
             
            }

          .creditos{
                    position:absolute;
                    background-color: #333333;
                    padding: 10px;
                    width: 600px;
                    height: 100px;
                    top: 20px ;
                    bottom: 0px;
                    left:300px;
                    right: 0px;
                      
                          }
                          .creditos p{
                            text-align: center;
                            color: white;
                            font-family: 'Century Gothic', sans-serif;
                            font-size: 12px;
                          }
                          
                          
 /* CONTACTOS*/
    .contacto_padre{
      
      width: 100%;
      height: 50%;
      background-color:#333333;
      position: absolute;
      top: 110% ;
      left: 0%;
     margin: 0;

    }
    .contacto_padre img{
      position:absolute;
        height: 150px;
        width: 130px;
        top: 50px ;
        left: 50px;
        
      }   

  .contacto{
            position:absolute;
            background-color: #333333;
            padding: 10px;
            width: 600px;
            height: 200px;
            top: 35px ;
            bottom: 0px;
            left:300px;
            right: 0px;
              
                  }
                  
                  .contacto h1{
                    text-align:left;
                    color: white;
                    font-family: 'Century Gothic', sans-serif;
                    font-size: 14px;
                  }
                  .contacto h2{
                    text-align:left;
                    color: white;
                    font-family: 'Century Gothic', sans-serif;
                    font-size: 13px;
                  }
                  .contacto p{
                    text-align: left;
                    color: white;
                    font-family: 'Century Gothic', sans-serif;
                    font-size: 12px;
                  }


/*recuadro referencias*/
  

